@import "../../main.scss";

.select-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #e2f4fe;
  border-radius: 2.5rem;
  height: 5rem;
  width: 8rem;
  gap: 1.5rem;


  .languages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .select {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    gap: 1rem;

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }

  .shown {
    display: none;
  }
}


.open-select-language{
  box-shadow: 0px 6px 0px -2px #e2f4fe;

}