@import "../../../../../../main.scss";

.qa {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;

  .search-bloc {
    width: 100%;
    height: 5rem;
    border: $border-gray-fine;
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-left: 2rem;
      filter: invert(70%) sepia(6%) saturate(11%) hue-rotate(337deg)
        brightness(94%) contrast(91%);
    }

    input {
      border: none;
      width: 100%;
      height: 80%;

      &::placeholder {
        font-size: 1.6rem;
        color: $font-gray-color;
      }
    }
  }

  .sort-bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .sort-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: $border-gray-fine;
      border-radius: 1rem;
      width: 23.7rem;
      height: 5rem;
      padding: 1rem;

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  .questions-bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .questions-bloc-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black;

        span {
          color: $primary-blue-color;
        }
      }

      .add-comment {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-blue-color;
        border-radius: 1rem;
        width: 18.6rem;
        height: 4.2rem;
        cursor: pointer;

        p {
          font-size: 1.5rem;
          font-weight: 500;
          color: $primary-blue-color;
        }
      }
    }

    .comments {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;

      .see-more {
        width: 23.6rem;
        height: 5.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: $border-gray-fine;
        border-radius: 1rem;
        cursor: pointer;

        p {
          font-size: 1.5rem;
          font-weight: 500;
          color: $color-black;
        }
      }
    }
  }
}
