@import "../../main.scss";


.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(49, 49, 49, 0.549);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}