@import "../../main.scss";

.subject-page {
  padding: 3rem 2rem;

  .subject-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    .back {
      width: 10.5rem;
      height: 4.5rem;
      border-radius: 2rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $background-gray-color;

      p {
        color: $font-gray-color-dark6;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    .main-title {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.4rem;
      color: $font-black-loght-color;
    }
  }
}
