@import "../../main.scss";

.subject-page {
  width: calc(100vw - 33rem);
  padding: 4rem 3rem;

  .subject-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    .back {
      width: 8.5rem;
      height: 3.5rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $background-gray-color;

      p {
        color: $font-gray-color-dark6;
        font-size: 1.4rem;
        font-weight: 400;
        margin-right: 8px;
      }
    }

    .main-title {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.4rem;
      color: $font-black-loght-color;
    }
  }

  .subject-page-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
