@import "../../main.scss";

.offres {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100vw - 33rem);
  padding: 4rem 2rem;

  .main-title {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }

  .offres-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}

@media screen and (max-width: 1496px) {
  .offres {
    width: calc(100vw - 30rem);
  }
}

@media screen and (max-width: 1440px) {
  .offres {
    width: calc(100vw - 26rem);

    .offres-cards {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .offres {
    width: calc(100vw - 20rem);
  }
}

@media screen and (max-width: 768px) {
  .offres {
    width: calc(100vw - 10rem);
  }
}

@media screen and (max-width: 425px) {
  .offres {
    width: 100vw;
  }
}
