@import "../../main.scss";

.overView {
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      filter: invert(49%) sepia(25%) saturate(4652%) hue-rotate(169deg)
        brightness(103%) contrast(103%);
      margin-right: 1rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      color: $font-black-loght-color;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 4rem;

    .blue-card {
      width: 53rem;
      height: 13rem;
      border-radius: 2rem;
      background-color: $background-blue-color;
      box-shadow: 0px 6px 0px -2px $border-blue-color;
    }

    .live-infos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .live-session {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1rem;
        gap: 1rem;

        .circle {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          background-color: white;
          border: 2px solid $border-blue-color;
        }

        p {
          width: 12rem;
          font-size: 1.7rem;
          font-weight: 400;
        }
        span {
          font-size: 4rem;
          font-weight: 400;
        }
      }

      .horizental-line {
        width: 2px;
        height: 8rem;
        margin: 0 1rem;
        background-color: $border-blue-color;
      }
    }

    .offre-infos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      gap: 2rem;

      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .offre-image {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 11rem;
          height: 11rem;
          border-radius: 50%;
          border: 3px solid $border-blue-color;
        }

        .offre-description {
          color: $font-brown-dark-color;
          p {
            font-size: 1.4rem;
            font-weight: 400;
          }

          span {
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }

      .expire-date {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        p {
          font-size: 1.4rem;
          font-weight: 400;
          color: $font-brown-dark-color;
        }

        .range {
          width: 15rem;
          height: 1.3rem;
          border-radius: 1rem;
          background-color: $background-blue-color-dark2;

          .level {
            width: 70%;
            height: 100%;
            border-radius: 1rem;
            background-color: $background-blue-color-dark;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .overView {
    .content {
      justify-content: center;
      .blue-card {
        width: 50rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .overView {
    justify-content: center;
    .content {
      .blue-card {
        width: 35rem;
      }
      .live-infos {
        .live-session {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          gap: 0;
          p {
            text-align: center;
            font-size: 1.5rem;
          }
          span {
            font-size: 3rem;
          }
          .circle {
            display: none;
          }
        }
      }

      .offre-infos {
        .info {
          .offre-description {
            display: none;
          }
        }
      }
    }
  }
}
